<%= form_with(model: @feed, local: true ,url: confirm_feeds_path ) do |form| %>
  <% if feed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(feed.errors.count, "error") %> prohibited this feed from being saved:</h2>

      <ul>
      <% feed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p>
    <%= form.label :画像の投稿： %>
    <%= form.file_field :image %>
    </p>
    <p>
    <%= form.label :内容の投稿： %>
    <%= form.text_field :content %>
    </p>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
