<!DOCTYPE html>
<html>
  <head>
    <title>CloneF</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <div class="common_outer">
      <div class="common_inner">
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <% if logged_in? %>
      <button class="head" ><%= link_to "プロフィール", album_path(current_album.id) %></button>
      <button class="head" ><%= link_to "ログアウト", session_path(current_album.id), method: :delete %></button>
    <% else %>
      <button class="head" ><%= link_to "サインアップ", new_album_path %></button>
      <button class="head" ><%= link_to "ログイン", new_session_path %></button>
    <% end %>
    </div>
    </div>
    <div>
      <%= yield %>
    </div>
  </header>

   <body>
   </body>
  <footer>
  </footer>
</html>
